# Core dependencies
dash
dash-core-components
dash-html-components
dash-bootstrap-components
dash-table
pandas
plotly
numpy
Flask
gunicorn

# Data and file handling
fsspec
googlemaps

# LangChain and OpenAI dependencies
langchain
langchain-openai
langchain-community
openai

# Additional dependencies
requests
python-dateutil
